@font-face {
  font-family: Norse;
  src: url(Norse-Bold.otf);
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: "Helvetica", "Arial", sans-serif;
}

#background {
  height: 100vh;
  position: relative;
  grid-column: 1/2;
}

#picture-background {
  background-image: url(img/daniel-sessler-I4YjrybA_1Q-unsplash.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}

#logo-background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  width: 100%;
  top: 25vh;
  padding: 10px 0;
}

img {
  height: 100px;
}

#title {
  font-family: Norse;
  color: aliceblue;
  font-size: 5rem;
  margin-top: 10px;
}

#picture-credit {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

#picture-credit,
#picture-credit a {
  color: aliceblue;
  font-size: 10px;
}

#main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(241, 241, 241);
}

h1 {
  font-size: 20px;
}

header {
  padding: 0 20px 50px 50px;
}

.form-body {
  padding: 10px 50px 40px 50px;
  background-color: white;
  box-shadow: 0 4px 2px -2px lightgrey;
}

.form-body h1 {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.form-row label {
  font-size: 0.5rem;
  margin-bottom: 5px;
}

.form-row input {
  border: 1px solid #E5E7EB;
  border-radius: 3px;
}

.form-row input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 1px 5px lightgrey;
}

.form-row input:invalid {
  border: 1px solid red;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

footer {
  padding-top: 20px;
}

footer button {
  font-size: 0.7rem;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;

  box-shadow: 2px 2px 5px lightgrey;
}

footer button:hover {
  background-color: #76AEED;
}

footer button:active {
  background-color: #407FC7;
}

footer p {
  font-size: 12px;
  margin-top: 40px;
}

footer a {
  text-decoration: none;
}